body {
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow: hidden;
}

#flex {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.workspace {
  padding: 20px;
}

#canvas {
  display: none;
  max-width: 100%;
  height: auto;
}
.tools-sidebar {
  background: rgb(33, 33, 33);
  display: none;
  flex-direction: column;
  gap: 2.5vh;
  padding: 1.5vh;
  border-radius: 10px;
}

.btn i {
  font-size: 20px;
}

@media (max-width: 768px) {
  body {
    padding: 10px;
  }
  .workspace {
    flex-direction: column;
    padding: 10px;
  }

  .tools-sidebar {
    width: 100%;
    height: 15vh;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  #canvas {
    width: 100%;
    height: 70vh;
  }
  #chosen-color {
    display: none;
  }
}

.color-square,
a.btn {
  width: 4.2vh;
  height: 4.2vh;
  border-radius: 12px;
  border: none;
  cursor: pointer;
  transition: transform 0.1s ease;
}

a.btn {
  display: inline-flex;
  justify-content: center;
}

.color-square:hover {
  transform: scale(1.1);
}

.btn-light {
  color: white;
  background: none;
}

#custom-picker {
  overflow: hidden;
  cursor: pointer;
  background: linear-gradient(
    120deg,
    #ff6b6b,
    #feca57,
    #48dbfb,
    #1dd1a1,
    #ff6b6b
  );
  background-size: 300% 300%;
  animation: move 5s ease infinite;
}

@keyframes move {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

#custom-picker input {
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

#addPeopleBtn {
  display: none;
  background-color: white;
  color: black;
  font-size: 1rem;
  padding: 1.5vh 3vw;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: transform 0.2s;
  margin-bottom: auto;
  position: absolute;
  top: 2.5vh;
  right: 2vh;
}

#addPeopleBtn:hover {
  transform: translateY(-2px);
  box-shadow: 0 1vh 2vh rgba(255, 255, 255, 0.3);
}

#emailModal .modal-content {
  color: white;
  background: black;
  border-radius: 15px;
  box-shadow: 0 0.8vh 2vh rgba(0, 0, 0, 0.5);
  border: none;
}

#emailModal .modal-header,
#emailModal .modal-body,
#emailModal .modal-footer {
  background: black;
  border: none;
}

#emailModal .btn-light {
  background: white;
  color: black;
  border: none;
  border-radius: 8px;
  padding: 0.8rem 1.6rem;
  transition: 0.2s;
}

#emailModal .btn-light:hover {
  transform: translateY(-2px);
}

.btn-secondary {
  border: none;
  color: black;
  border-radius: 8px;
  padding: 0.8rem 1.6rem;
}

#emailList {
  max-height: 200px;
  overflow-y: auto;
  border: 1px solid #333;
  border-radius: 8px;
}

#emailModal .btn-close {
  filter: invert(1);
}
