* {
  margin: 0;
  padding: 0;
  font-family: "sans-serif";
}

body,
html {
  width: 100%;
  min-height: 100%;
  color: white;
  background: rgb(33, 33, 33);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2vh 0;
}

.container {
  display: flex;
  flex-direction: column;
  text-align: center;
  background: black;
  padding: 5vh 5vw;
  border-radius: 15px;
  box-shadow: 0 0.8vh 2vh rgba(0, 0, 0, 0.5);
  max-width: 800px;
  width: 90%;
  margin-bottom: 5vh;
}

h1 {
  color: white;
  font-size: 4rem;
  margin-bottom: 2vh;
}

p {
  font-size: 1.2rem;
  margin-bottom: 3vh;
}

button#newCanvasBtn {
  background-color: white;
  color: black;
  font-size: 1rem;
  padding: 1.5vh 3vw;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: transform 0.2s;
}

.canvas-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2vh 2vw;
  width: 90%;
  max-width: 1000px;
}

.canvas-card {
  color: black;
  background-color: white;
  padding: 2vh 3vw;
  border-radius: 10px;
  cursor: pointer;
  transition:
    transform 0.2s,
    box-shadow 0.2s;
}

#newCanvasBtn:hover,
.canvas-card:hover {
  transform: translateY(-2px);
  box-shadow: 0 1vh 2vh rgba(255, 255, 255, 0.3);
}

@media (max-width: 800px) {
  .container {
    padding: 8vh 3vw;
  }

  h1 {
    font-size: 8vw;
  }

  p {
    font-size: 4vw;
  }

  button#newCanvasBtn {
    font-size: 4vw;
    padding: 1.5vh 5vw;
  }

  .canvas-card {
    font-size: 4vw;
    padding: 2vh 4vw;
  }
}

.custom-modal {
  background: black;
  border-radius: 15px;
  box-shadow: 0 0.8vh 2vh rgba(0, 0, 0, 0.5);
}

.modal-content,
.modal-body {
  border: none;
}

.modal-header {
  border: none;
}

.modal-body,
.modal-footer {
  background: black;
  border: none;
}

.btn-light {
  background: white;
  color: black;
  border: none;
  border-radius: 8px;
  padding: 0.8rem 1.6rem;
  transition: 0.2s;
}

.btn-light:hover {
  transform: translateY(-2px);
}

.btn-secondary {
  border: none;
  color: black;
  border-radius: 8px;
  padding: 0.8rem 1.6rem;
}

.btn-close {
  filter: invert(1);
}

.dashboard-nav {
  display: flex;
  justify-content: space-around;
  border-top: 1px solid rgba(255, 255, 255, 0.6);
  padding-top: 1.5vh;
  margin-top: 3vh;
}

.nav-tab {
  text-decoration: none;
  padding: 1vh 1.5vw;
  cursor: pointer;
  transition: 0.2s;
  color: white;
  opacity: 0.7;
}

.nav-tab:hover {
  opacity: 1;
  transform: translateY(-2px);
}

.nav-tab.active {
  font-weight: 600;
  opacity: 1;
}
