* {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body,
html {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  background: black;
}

.container {
  opacity: 1;
  text-align: center;
  background: linear-gradient(to right, #ffffff, #6dd5fa, #2980b9);

  padding: 10vh 10vw;
  border-radius: 15px;
  box-shadow: 0 0.8vh 2vh rgba(0, 0, 0, 0.5);
}

h1 {
  color: black;
  font-size: 5rem;
  margin-bottom: 2vh;
}

p {
  font-size: 1.2rem;
  margin-bottom: 2.5vh;
}

button#googleSignIn {
  background-color: white;
  color: black;
  font-size: 1rem;
  padding: 1.5vh 3vw;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition:
    transform 0.2s,
    box-shadow 0.2s;
}

button#googleSignIn:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

@media (max-width: 800px) {
  body {
    margin: 8px;
  }

  .container {
    padding: 8vh 3vw;
  }

  h1 {
    font-size: 8vw;
  }

  p {
    font-size: 4vw;
  }

  button#googleSignIn {
    font-size: 4vw;
    padding: 1.5vh 5vw;
  }
}
